.recommentedVideos {
  flex: 0.8;
  background-color: #f9f9f9;
  /* background-color: lime; */
  padding: 40px 20px 0;
  /* padding-bottom: 0; */
}
.recommentedVideos > h2 {
  margin: 0 0 20px 5px;
  /* margin-left: 5px;
    margin-bottom: 20px; */
}
